@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: 0;
}

body {
    height: 150vh;
    width: 100%;
    background: #0C1D40;
}

body header {
    width: 98%;
    height: 10vh;
    margin: 0px 0px 0px 18px;

    display: flex;
    justify-content: space-around;

    background-color: #5F7399;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    position: fixed;
}

body header ul {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

body header ul li {
    list-style-type: none;
}

body header ul li a,
body main div#banner div h1 {
    font-family: Bebas Neue;
    letter-spacing: 1px;
}

body header ul li a {
    font-size: 28px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;

    padding: 2px 10px;
    border-radius: 10px;
    transition: 0.5s;
}

body header ul li a:hover {
    background-color: #cccccc;
    color: #000;
}

body main div#banner {
    width: 100%;
    height: 60vh;

    display: flex;
    align-items: flex-end;
}

body main div#banner div {
    width: 100%;
    height: 85%;
    background-color: #cccccc;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

body main div#banner div img {
    width: 25%;
    height: 80%;

    background-color: rgb(200, 199, 199);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

body main div#banner div div {
    width: 50%;
    height: 70%;

    display: flex;
    flex-direction: column;
}

body main div#banner div div div.spaceBanner {
    width: 100%;
    height: 50%;
}

body main div#banner div div div.left {
    display: flex;
    align-items: center;

    animation: ;
}

body main div#banner div div img {
    height: 200px;
    width: 200px;
}